* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    color: rgb(45, 68, 88);
    background: rgb(226, 233, 240);
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 25px 60px;
    clear: both;
}
    /************* Nav-Bar ************/
    .burger {
        display: none;
    }
.logo {
    font-size: 2.5em;
    font-weight:600;
}

.menu {
    display: flex;
    justify-content: space-between;
    width:500px;
}

.menu li {
    list-style: none;
}

.menu a {
    font-size: 1.5em;
    color: rgb(45, 68, 88);
    text-decoration: none;
}

.menu li :hover {
    display: block;
    cursor: pointer;
    border-bottom: 2px solid rgb(0, 0, 0);
} 

.signIn {
    width: 70px;
    height: 30px;
    background: rgb(45, 68, 88);
    color: white; 
    cursor: pointer;
}
    /******* MAIN *******/

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
    /***** Text-block *****/

.anime {
    width:13%;
    margin: 0 0 0 200px;
}

.create {
    font-size: 3em;
    font-weight: bold;
    line-height: 32px;
    padding: 25px 0;
}

.line {
    color: rgba(45, 68, 88, 0.5);
}

.para {
    font-size: 1.2em;
}

    /******* Search-Box *******/

.search-line {
    margin: 0 0 10px 0;
    color: rgba(45, 68, 88, 0.5);
    background: rgb(226, 233, 240);

}

.enter {
    color:white;
    background: rgb(45, 68, 88);
}

    /****** Pic *******/

.phone {
    width: 50vw;
   
}

    /********** Features *******/

.features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 200px;
}

.features a {
    text-decoration: none;
    color: rgb(45, 68, 88);
    font-size: 1.2em;
    font-weight: 600;
}

.features p {
    font-size: 1.1em;
    padding: 10px 0;
    line-height: 14px;
    width:50%;
}

.features h3 {
    font-size: 1.5em;
    padding: 10px 0 0 0;
}

